html, body{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}
.row{
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
}
.logo{
    width: fit-content;
}
.logo img{
    width:200px;
    height:100px;
}

.side-bar{
    padding: 0px;
    background: #50577A;
    height: 100vh;
    width: 20%;
}

.side-menu{
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    width: 100%;
}

.side-menu a{
    color: #fff;
    text-decoration: none;
}

.side-menu a:hover{
    color: #fff;
    text-decoration: none;
    margin: 5px;
}

.side-menu li{
    padding: 10px;
    margin: 5px;
}

.side-menu .active{
    background: #404258;
}

.sub-list{
    color: #333;
    font-size: 15px;
    text-decoration: none;
}

.sub-list li{
    padding:5px;
    margin: 5px;
}

#ranking-board{
    font-size: 18px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

#content{
    background: #6B728E;
    width: 80%;
}

#btnCategory{
    color: #fff;
    border: 0px;
}

#btnCategory:hover{
    background: none;
    text-decoration: underline;
}

.user a{
    color: #fff;
    text-decoration: none;
}
.user a:hover{
    color: #fff;
    text-decoration: underline;
}

.search{
    border-radius: 50px;
    background-color: #474E68;
    padding: 15px;
}

.search input{
    background-color: #474E68;
    background: none;
    outline: none;
    border: none;
    font-size: 18px;
    color: #fff;
}

#categoryList a{
    text-decoration: none;
}

#categoryList a:hover{
    text-decoration: underline;
    color: #2146C7;
}

#categoryList li{
    margin: 15px;
}

#imgOverplay a{
    color: #fff;
}

#imgOverplay a:hover{
    color: #E0144C;
}

